@charset "utf-8";
@import url("font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: "Pretendard", sans-serif;
  font-size: 1.3rem;
  line-height: 1;
  color: #000;
  letter-spacing: -0.64px;
  word-break: keep-all;
}


/* 공통클래스 */
.inner {
  display: block;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .inner {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .inner {
    padding: 0 20px;
    padding-bottom: 20px;

    max-width: 760px;
    border-bottom: 8px solid #f0f4f4;
  }
}

@media screen and (max-width: 760px) {
  .inner {
    max-width: 100%;
  }
}

/* float 해제 */
.clearfix::after {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  clear: both;
}

/* swiper 버튼 */
.sw-bt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  font-size: 0;
  cursor: pointer;
}
.sw-bt.swiper-button-disabled{
  display:none;
}
.sw-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 99;
}
.sw-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.sw-bt::before {
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 4px);
  content: "";
  width: 8px;
  height: 16px;
  background: url("../images/slider_arrow.svg") no-repeat center;
}
.sw-prev::before {
  transform: scaleX(-100%);
}
@media screen and (max-width: 1024px) {
  .sw-bt {
    display: none;
  }
}

/* section 내용 구조 */

.wrap > section {
  padding-top: 30px;
  padding-bottom: 90px;
}

.section-top {
  text-align: center;
}
.section-top > h2 {
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 10px;
}
.section-top > p {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.section-top .btns {
  margin: 25px 0;
  /* inline-block 은 html 코드의 Enter 도 글자로 인식 */
  /* 그래서 공백글자가 들어간다. */
  font-size: 0;
}
.section-top .btns a {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  line-height: 42px;
  font-size: 14px;
  color: #111;
  background: #fff;
  margin-right: 6px;
}
.btns-active {
  background: #111 !important;
  color: #fff !important;
}

.section-slide {
  position: relative;
  margin-bottom: 20px;
}
.section-bottom {
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .wrap > section {
  }

  .section-top {
  }
  .section-top > h2 {
  }
  .section-top > p {
  }
}
@media screen and (max-width: 1024px) {
  .wrap > section {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .section-top {
  }
  .section-top > h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .section-top > p {
    font-size: 15px;
    line-height: 18px;
  }

  .bt-link-shop {
    display: block;
    font-size: 15px;
    line-height: 48px;
    border-radius: 3px;
  }
  .section-top .btns {
    margin: 15px 0;
    white-space: nowrap;
    overflow: hidden;
  }
  .section-top .btns a {
    line-height: 34px;
    padding: 0 14px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 760px) {
  .wrap > section {
  }
  .section-top {
  }
  .section-top > h2 {
  }
  .section-top > p {
  }
}

/* 기본레이아웃 */
.wrap {
}
/* 상단 */
.header {
  position:relative;
  z-index: 999999;
  /* border-bottom: 1px solid #ebebeb; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.header .inner {
  padding-top: 30px;
  height: 135px;
}
.header-up {
}

.header-left {
  position: relative;
  /* 자식들이 모두.. absoluter 라서. */
  /*  width, height 준다 */
  width: calc(118px + 455px + 20px);
  height: 50px;

  float: left;
}

.logo {

  display: inline;
  display: inline-block;
  display: block;
  position: absolute;
  top: 20px;
  left: 280px;
  width: 118px;
  height: 48px;
  background: url("../images/logo.jpg") no-repeat center;
  background-size: contain;
  
}

.search {
  position: absolute;
  top: 20px;
  left: 430px;

  width: 455px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  overflow: hidden;
  padding: 0px 15px;
}
.search-text {
  width: calc(100% - 25px);
  height: 50px;
  border: 0;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
}
.search-text::placeholder {
  color: #a2a2a2;
  font-size: 15px;
  font-weight: 700;
}
.search-bt {
  border: 0;
  width: 17px;
  height: 17px;
  background: url("../images/btn_search.svg") no-repeat center;
  cursor: pointer;
  /* 조건 : inline 또는 inline-block */
  vertical-align: -3px;
}
.search-reset {
  position: absolute;
  top: calc(50% - 8px);
  right: 50px;
  border: 0;
  font-size: 0;
  cursor: pointer;

  width: 16px;
  height: 16px;
  background: url("../images/btn_searchDelete.svg") no-repeat center;
}

.header-right {
  position: relative;
  float: right;
}
.member-list {
  margin-top: 17px;
  /* padding-top: 17px; */
  /* line-height: 50px; */
}
.member-list > li {
  position: relative;
  float: left;
  margin-right: 20px;
}
.member-list > li:last-child {
  margin-right: 0;
}

.member-list > li > a {
  font-size: 15px;
  color: #111;
  font-weight: 500;
}

.mypage-bt{
  padding-bottom:20px;
}

.mypage-bt:hover .mypage {
  opacity: 1;
  visibility: visible;
}
.mypage {
  display: block;
  visibility: hidden;

  position: absolute;
  top: 25px;
  right: 0;
  background: #fff;
  padding: 20px;
  border-radius: 13px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);

  opacity: 0;
  transition: all 0.5s;
}

.mb-mypage {
  display: none;
  position: absolute;
  top: -5px;
  right: 10px;
}

.header-down {
}


/* 티켓랭킹 */
.ticket {
}
.ticket .section-slide {
  /* height: 540px; */
}
.ticket .section-slide .sw-bt {
  top: 35%;
}

.sw-ticket {
  height: 100%;
}

.ticket-link {
  display: block;
  width: 100%;
  height: 100%;
}

.ticket-img {
  position: relative;
  width: 100%;
  max-height: 400px;
  height: 31.25vw;
  overflow: hidden;

  border-radius: 10px;
}

.ticket-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);

  width: 100%;
}
.ticket-rank {
  position: absolute;
  bottom: 30px;
  left: 25px;
  font-size: 70px;
  color: #fff;
  font-weight: 700;
  z-index: 1;
}
.ticket-img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)),
    linear-gradient(180deg, transparent 68.5%, rgba(0, 0, 0, 0.6));
}

.ticket-info {
  padding: 20px 10px;
  background: #fff;
}
.ticket-info-list {
}
.ticket-info-list li {
  margin-bottom: 5px;
}
.ticket-info-list li:first-child {
  margin-bottom: 0px;
}
.ticket-title {
  /* 2줄 ... 처리 */
  display: -webkit-box;
  color: #111;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ticket-hall {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #666;
  /* 1줄 ... 처리 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ticket-date {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #999;
}

@media screen and (max-width: 1280px) {
  .ticket-img img {
    transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (max-width: 1024px) {
  /* .ticket .section-slide {
    width: 120%;
    overflow: hidden;
  } */
  .ticket-rank {
    left: 12px;
    font-size: 38px;
    line-height: 45px;
  }
  .ticket-img img {
    transform: translate(-50%, -50%) scale(1.4);
  }
  .sw-ticket .swiper-slide {
    width: 150px;
  }
}
@media screen and (max-width: 760px) {
  .ticket-info {
    padding: 10px 5px;
  }
  .ticket-title {
    font-size: 15px;
    line-height: 18px;
    height: 36px;
    font-weight: 400;
  }
  .ticket-title b {
  }
  .ticket-hall {
    font-size: 13px;
    line-height: 16px;
    margin: 5px 0;
  }
  .ticket-date {
    font-size: 12px;
    line-height: 14px;
  }
}
